[global_tags]
  environment = "{{ cluster_env }}"
  host = "{{ inventory_hostname }}"

[agent]
  interval = "10s"
  round_interval = true
  hostname = "{{ inventory_hostname }}"

# Output to InfluxDB
[[outputs.influxdb]]
  {% set influx_host = hostvars[groups['influxdb'][0]]['ansible_host'] %}
  urls = ["http://{{ influx_host }}:{{ influxdb_port }}"]
  database = "{{ influxdb_database }}"

# Output for Prometheus (hybrid metrics)
[[outputs.prometheus_client]]
  listen = ":{{ telegraf_port }}"

# Basic system metrics
[[inputs.cpu]]
  percpu = true
  totalcpu = true

[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs"]

[[inputs.mem]]

[[inputs.system]]

[[inputs.net]]
